.accordion_body {
    padding-left: 2.3rem;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out .5s;

    &.active {
        padding: 1rem 2.3rem;
        max-height: 400px;
    }
}

.accordion_icon {
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
    transform: rotate(180deg);

    &.active {
        transform: rotate(0deg);
    }
}